header{
    height: 130px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    
  
   
}
#navbr {
    background-color:#f8f9fa;
    color: black;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s;
  }
  .ul>li{
      float: left;
      list-style-type: none;
      float: right;
  }
  #navbr a{
    float: right;
    display: block;
    color: #000000;
    text-align: center;
    padding: 15px 8px;
    text-decoration: none;
    font-size: 13px;

  }
 
 

 
 
#collapsiblenavbar{
    float: right !important;
    width: fit-content;
    padding: 5px 15px; 

    background-color:#f8f9fa;
    color: black;
    
    top: 0;
    
    display: block;
    transition: top 0.3s;
  }
  
  #collapsiblenavbar ul{
    float: right;
    display: block;
    color: #000000;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 13px;

  }
  #collapsiblenavbar a:hover{
   
    color:white ;
  }
#but{
    margin-right: 10px;
} 
.DROPDOWN{
    text-decoration: none;
    color: rgb(82, 75, 75);
    font-size: 13px;   
    
    list-style-type: none;
    float: right;
    display: block;
     
    text-align: center;
    padding: 15px;
    text-decoration: none;
   
}
.dropdown-content{
    display: none;
    position: fixed;
    background-color: rgb(255, 255, 255);
    min-width: 159px;
    padding: 6px 13px;
    z-index: 1;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.DD{
    background-color: whitesmoke;
    border:none;
    width: 100%;
    text-align: center;
    height:55px;
    margin-top: 20px;
}
.youtube{
    /*background-image: url("https://i.ibb.co/3mbHL3Q/evie-s-kq-Jf-P-lrl-8-unsplash.jpg");*/
    background-image: url("https://i.ibb.co/cbPFGjq/evie-s-IPVdy-P8m-Q-unsplash.jpg");
    background-size: 100% auto ;
    background-repeat: no-repeat;
    
}

 .utube{
    height: auto;
    margin-bottom: 50px; 
     width: 76%;
     margin-left: 12%;
     
 }
 .put1{
     font-size:70px ;
     font-weight: 400;
     text-align: center;
     font-family:"Footlight MT" ;
     color:black;
     
 }
 .put2{
    font-size:25px ;
    font-weight: 300;
    text-align: center;
    color:black;
    
}
.vid{
    width: 78%;
    margin-left:14% ;
    height: 550px;
    
    
}
.vid>video{
    width: 100%;
    height: 550px;
}
iframe {
    border: 0;
    width: 100%;
    height: 550px;
}
.karigiri{
   
    background-image: url("https://i.ibb.co/LzZjR39/magda-lukas-OZh-Yg-Zh0b-Ag-unsplash.jpg");
    background-size: 100% auto ;
    background-repeat: no-repeat;
    
}
.karigar{
     
    width:88%;
    margin-left: 6%;
    
}
 
.cola{
    margin: 2%;
    height: 600px; 
   
}
 
.csa{
    margin-top:2%;
    height: 48%;
    width: 100%;
    position:relative;
  }
  
  .image {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .overlay1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #00000086;
  }
  
  .csa:hover .overlay1 {
    opacity: 1;
  }
  
  .text1 {
    
        color: rgb(255, 255, 255);
        position: absolute;
       font-family:"Lucida Calligraphy" ;
        text-align: center;
        margin-left: 0px;
        margin-top: 60px;
  }
.text1>h3{
    font-size: 24px;
    text-decoration: underline;
}
.text1>p{
    font-size: 14px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif\;
}
 
 
 
.csb{
    position:relative;
    margin-top:4%;
    height: 48%;
    width: 100%;
}
 
  
  .image {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .overlay2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #00000086;
  }
  
  .csb:hover .overlay2 {
    opacity: 1;
  }
  
  .text2{
    
        color: rgb(255, 255, 255);
        position: absolute;
       font-family:"Lucida Calligraphy" ;
        text-align: center;
        margin-left: 0px;
        margin-top: 60px;
  }
.text2>h3{
    font-size: 24px;
    text-decoration: underline;
}
.text2>p{
    font-size: 14px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif\;
}

 .colb{
    margin: 2%;
    height: 600px; 
     
}
.csc{
    position:relative;
    margin-top:2%;
     height: 98%;
     width: 100%;
}
.image {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .overlay3 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #00000086;
  }
  
  .csc:hover .overlay3 {
    opacity: 1;
  }
  
  .text3{
    
        color: rgb(255, 255, 255);
        position: absolute;
       font-family:"Lucida Calligraphy" ;
        text-align: center;
        margin-left: 0px;
        margin-top: 230px;
  }
.text3>h3{
    font-size: 24px;
    text-decoration: underline;
}
.text3>p{
    font-size: 14px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif\;
}
.colc{
    margin: 2%;
    height: 600px; 
     
}
.csd{
    position:relative;
    margin-top:2%;
     height: 48%;
     width: 100%;
}
.image {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .overlay4 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #00000086;
  }
  
  .csd:hover .overlay4 {
    opacity: 1;
  }
  
  .text4{
    
        color: rgb(255, 255, 255);
        position: absolute;
       font-family:"Lucida Calligraphy" ;
        text-align: center;
        margin-left: 0px;
        margin-top: 60px;
  }
.text4>h3{
    font-size: 24px;
    text-decoration: underline;
}
.text4>p{
    font-size: 14px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif\;
}
.cse{
    position:relative;
    margin-top:4%;
    height: 48%;
    width: 100%;
}
.image {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .overlay5 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #00000086;
  }
  
  .cse:hover .overlay5 {
    opacity: 1;
  }
  
  .text5{
    
        color: rgb(255, 255, 255);
        position: absolute;
       font-family:"Lucida Calligraphy" ;
        text-align: center;
        margin-left: 0px;
        margin-top: 60px;
  }
.text5>h3{
    font-size: 24px;
    text-decoration: underline;
}
.text5>p{
    font-size: 14px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif\;
}

  .bgimage{
      margin-left: 10%;
    width: 80%;
    height: 500px;
    animation: jwellery 9s infinite;
     
       
 
} 
@keyframes jwellery{
  0%{background-image: url("https://staticimg.titan.co.in/Tanishq/Banners/rivaah/images/2021/diamond-h-1.png");
       background-size: 100% 600px ;}
    33%{background-image: url( "https://staticimg.titan.co.in/Tanishq/Banners/rivaah/images/2021/diamond-h-3.png");
        background-size: 100% 600px ;}
    66%{background-image: url("https://staticimg.titan.co.in/Tanishq/Banners/rivaah/images/2021/diamond.png");
        background-size: 100% 600px ;}
        100%{background-image: url("https://staticimg.titan.co.in/Tanishq/Banners/rivaah/images/2021/diamond-h-1.png");
            background-size: 100% 600px ;}
       
 }  
 .put3{
    position: absolute;
    font-size: 19px;
    font-weight: 300;
    text-align: center;
    width: 70%;
    margin-left: 5%;
    color: white;
    margin-top: 349px;
   
    
}
.rivbride{
    background-image: url("https://i.ibb.co/3Fg3MSg/sharon-mccutcheon-Nk-QD-RHhbv-Y-unsplash.jpg");
    
   background-size: 100% auto; 
   width: 100%;  
    height:auto;
    color: #6e25312b;
    font-size: 345px;
    font-family: "Monotype Corsiva";
}
.riv{
  position:relative;
  top: -537px;
 
  height: auto;
  width: 80%;
}
#sti{
    width: 80%;
    margin-left: 10%;
  
}
.st1{
    height: 375px;
    width: 100%;
    
    animation: awadh 5s infinite;
}
@keyframes  awadh {
    0%{background-image: url("https://staticimg.titan.co.in/Tanishq/Banners/rivaah/images/2021/awadh-4.png");
         background-size: 100% 375px ;}
      25%{background-image: url( "https://staticimg.titan.co.in/Tanishq/Banners/rivaah/images/2021/in-bride1.png");
          background-size: 100% 375px;}
      50%{background-image: url("https://staticimg.titan.co.in/Tanishq/Banners/rivaah/images/2021/awadh-2.png");
          background-size: 100% 375px  ;}
        75%{background-image: url(" https://staticimg.titan.co.in/Tanishq/Banners/rivaah/images/2021/awadh-3.png");
              background-size: 100% 375px ;}
       100%{background-image: url("https://staticimg.titan.co.in/Tanishq/Banners/rivaah/images/2021/awadh-4.png");
         background-size: 100% 375px ;}
         
   }
.st2{
    height: 375px;
    width: 100%;
   
    animation: bihar 5s infinite;
}
@keyframes  bihar {
    0%{background-image: url("https://staticimg.titan.co.in/Tanishq/Banners/rivaah/images/2021/bihar-4.png");
         background-size: 100% 375px ;}
      25%{background-image: url( "https://staticimg.titan.co.in/Tanishq/Banners/rivaah/images/2021/in-bride2.png ");
          background-size: 100% 375px;}
      50%{background-image: url("https://staticimg.titan.co.in/Tanishq/Banners/rivaah/images/2021/bihar-2.png ");
          background-size: 100% 375px  ;}
        75%{background-image: url(" https://staticimg.titan.co.in/Tanishq/Banners/rivaah/images/2021/bihar-3.png");
              background-size: 100% 375px ;}
       100%{background-image: url("https://staticimg.titan.co.in/Tanishq/Banners/rivaah/images/2021/bihar-4.png ");
         background-size: 100% 375px ;}
         
   } 
.st3{
    height: 375px;
    width: 100%;
   
    animation: punjab 5s infinite;
}
@keyframes punjab {
    0%{background-image: url("https://staticimg.titan.co.in/Tanishq/Banners/rivaah/images/2021/punjab-2.png ");
         background-size: 100% 375px ;}
      25%{background-image: url( "https://staticimg.titan.co.in/Tanishq/Banners/rivaah/images/2021/in-bride3.png");
          background-size: 100% 375px;}
      50%{background-image: url(" https://staticimg.titan.co.in/Tanishq/Banners/rivaah/images/2021/punjab-3.png");
          background-size: 100% 375px  ;}
        75%{background-image: url("https://staticimg.titan.co.in/Tanishq/Banners/rivaah/images/2021/punjab-4.png ");
              background-size: 100% 375px ;}
       100%{background-image: url(" https://staticimg.titan.co.in/Tanishq/Banners/rivaah/images/2021/punjab-2.png");
         background-size: 100% 375px ;}
         
   } 
.st4{
    height: 375px;
    width: 100%;
   
    animation: sri 5s infinite;
}
@keyframes sri {
    0%{background-image: url(" https://staticimg.titan.co.in/Tanishq/Banners/rivaah/images/2021/srinagar-4.png");
         background-size: 100% 375px ;}
      25%{background-image: url( "https://staticimg.titan.co.in/Tanishq/Banners/rivaah/images/2021/in-bride1.png ");
          background-size: 100% 375px;}
      50%{background-image: url("https://staticimg.titan.co.in/Tanishq/Banners/rivaah/images/2021/srinagar-3.png ");
          background-size: 100% 375px  ;}
        75%{background-image: url("https://staticimg.titan.co.in/Tanishq/Banners/rivaah/images/2021/srinagar-2.png ");
              background-size: 100% 375px ;}
       100%{background-image: url(" https://staticimg.titan.co.in/Tanishq/Banners/rivaah/images/2021/srinagar-4.png");
         background-size: 100% 375px ;}
         
   }   
.rivword{
    width:100%;
    height:auto;
}
.word{
    width:80%;
    height:auto;
    margin-left: 10%;
}
 
#wt1{

}
#w1>img{
    margin-left: 2%;
    width:100%;
    height: auto;
}
.end{
    width: 80%;
    margin-left: 10%;
    margin-top:100px;
}
#en>img{
    margin:2%;
    width: 98%;
    border-radius: 10px;
}
.onehalf{
     height:auto;
    
    width: 100%;
    margin-top: -13px;
     
}
 #previous{
     margin-left: -107px;
     width: 15%;
     height: 8%;
     position: absolute;
    top: 42%;
 }
 #next{
    margin-right: -107px;
    width: 15%;
    height: 8%;
    position: absolute;
   top: 42%;
}
/*.carousel{
    width: 100%;
    height: 600px;
    animation: jwellery 9s infinite;
     
       
 
} 
@keyframes jwellery{
  0%{background-image: url("https://i.ibb.co/rGj6TPL/10-mia-Turns-2500-x-950px-min.webp");
       background-size: 100% 600px ;}
    33%{background-image: url( "https://i.ibb.co/mFY8J5c/2500-X950-copy-min.webp");
        background-size: 100% 600px ;}
    66%{background-image: url("https://i.ibb.co/qFhGvwp/Tanishq-1920-X712.jpg");
        background-size: 100% 600px ;}
        100%{background-image: url("https://i.ibb.co/rGj6TPL/10-mia-Turns-2500-x-950px-min.webp");
            background-size: 100% 600px ;}
       
 }*/
 .category{
     height: auto;
     width: 100%;
     
     margin-top: 40px;
 }
 .cheading{
     text-align: center;
     font-size: 45px;
     font-family:"Garamond" ;
 }
 .box{
    
    height:  240px;
     float: left;
  
    text-align: center;
    line-height: 3%;
    border-radius: 10px;

 }
 .box:hover{
    box-shadow: 0px 0px 10px black;   
    transform: scale(1.05);
 }
 .boxphoto{
    height: 162px;
    width: 83%;
    
     margin-left: 10px;
    }
 .boxphoto>img{
    height: 171px;
    width: 107%;
   
    
}
.box>p{
    margin-top: 30px;
}
.new{
    height: auto;
    width: 80%;
    margin-left: 10%;
    border: 6px groove #cbccd5;
   
 
}
.newphoto{
    height: 300px;
   
    margin-left: 2%;
    float: left;
}
.newphoto>a>img{
    height: 300px;
    width: 100%;

}
.gender{
    height:auto;
    width: 100%;
}
.gbox{
    height: 400px;
    width: 100%;
    margin-left: 10px;
    float: left;
}
.gheading{
    text-align: center;
    font-size: 45px;
    font-family:"Garamond" ;
}
.gboxphoto{
    height: 350px;
    width: 100%;
    
}
.gboxphoto>img{
    height: 350px;
    width: 100%;

}
.gbox>p{
   text-align: center;
   color: gray;
   font-size: 15px;

}
.topsell{
    height: 500px;
    width: 100%;
    margin-top: 10px;
}
.ts1{
    width:67%;
    height: 500px;
    
    float: left;
}
.ts1>a>img{
    width:100%;
    height: 500px;
    
}
.ts2{
    width:32%;
     
    height: 500px;
    float: left;
    
}
.ts2>a>img{
    height: 230px;
    width: 46%;
    margin: 2%;
    float:left ;
}
.seller{
    width: 100%;
    height: auto;
}
.scontainer{
    width: 80%;
    height: auto;
    margin-top: 100px;
    margin-left: 12%;
}
.sbox{
    
    height:  auto;
     float: left;
    margin-left:  3px;
    text-align: center;
    line-height: 3%;
    border-radius: 10px;
    font-size: 19px;

 }
 .sbox:hover{
    box-shadow: 0px 0px 10px black;   
    transform: scale(1.05);
 }
 .sboxphoto{
    height: auto;
    width: 100%;
     
     
     
 }
 .sboxphoto>img{
    height: auto;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}
.sbox>p{
    margin-top: 30px;
    
}
.Secondhalf{
    height: auto;
    width: 100%;
    margin-top: 20px;
     
}

 
.rivaah{
    width: 100%;
    height: auto;
    
    
}
.riv{
    width: 100%;
    height: auto;

}
.riva{
    height: 275px;
    width: 450px;
   margin-top: 50px;
   border: 10px double #d08e90;
}
.riva>img{
    width: 200px;
    height:100px;
     animation: pic  2s infinite;
}
@keyframes pic {
    0% {
        width: 200px;
        height:100px;
    }
    12% {
        width: 225px;
        height:112px;
    }
    25% {
        width: 250px;
        height:125px;
    }
    37% {
        width: 275px;
        height:137px;
    }
    50% {
        width: 300px;
        height:150px;
    }
    62% {
        width: 325px;
        height:162px;
    }
    75% {
        width: 350px;
        height:175px;
    }
    87% {
        width: 375px;
        height:187px;
    }
    100% {
        width: 400px;
        height:200px;
    }
}
.photo{
    width: 100%;
    height: auto;
     
}.photo>img{
    width: 100%;
    height: 500px;
    
}
.connect{
    height: auto;
    width: 100%;
}
.ccontainer{
    width: 74%;
    height: auto;
    margin-left: 13%;
}
.con{
  
    height: 300px;
    margin-left: 3%;
     float: left;
}
.con>img{
    width: 100%;
    height: auto;
    
}
.promises{
    height: auto;
    width: 100%;
}
.pcontainer{
    width: 74%;
    height: auto;
    margin-left: 13%;
}
.prom{
 
    height: auto;
    margin-left: 3%;
     float: left;
}
.prom>img{
    width: 100%;
    height: auto;
    
}

.footer{
    height: 650px;
    width: 100%;
}
.ftop{
    height: 150px;
    width: 100%;
    background-color:rgb(204, 204, 204);
    
}
.t1{
    width: 80%;
    height: 90px;
    margin-top: 30px;
    position: absolute;
    margin-left: 10%;
    text-align: center;
    
}
 
.t1>td{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-spacing: 20px;
    width: 31%;
}
.fbottom{
    width: 100%;
    height: 800px;
    background-color: #b0a16e;
    color: WHITE;
    position: ABSOLUTE;
}   
.fb1{
    width: 60%;
    height: 400px;
    
    float: left;
}
.fb1a{
    width: 30%;
    height: 400px; 
    margin-left:19% ;
    float: left;
}
.fb1b{
    width: 30%;
    height: 400px;
  
    margin-left:19% ;
    float: left;
}
.fbu{
    list-style: none;
    
}
.fbu>li{
    margin-top: 10px;
    font-size: 13px;
    line-height: 30px;
    letter-spacing:2px
}
.fb2{
    width: 39%;
    height: 600px;
      float: left;
}
.fb2>input{
    height: 60px;
    width:40%;
    float: left;
    background-color: transparent;
    color: aliceblue;
}
.fb2>button{
    height: 60px;
    width:24%;
    background-color: white;
    color: #b0a16e;
 
}
.app{
    width: 50%;
    height: 70px;
}
.app>img{
    height: 45px;
    width: 45%;
   
}

@media screen and (max-width:1400px){
   
}
@media screen and (max-width:1200px){
    
 }
 @media screen and (max-width:992px){
    
     .ts1 {
        width: 100%;
         
    }
    .ts2 {
        width: 81%; 
         margin-left: 10%;
    }
    .seller{
        clear:both;
    }
 }
 @media screen and (max-width:768px){
    
    .ul{
        display:none;
    }
     .box{
        
        
         margin-left: 24%;
    }
    .newphoto>img{ 
        margin-left: 24%;
        width: 56%;
        height: auto;
        margin-top: 3px;
    }
    .newphoto{  
      
        height: 214px
    }
    .gboxphoto {
       
        width: 70%;
        margin-left: 16%;
    }
    .sbox {
        width: 62%;
        margin-top: 20px;
       
        margin-left: 9px;
      
    }
    .con {
        margin-left: 22%;
        margin-top: 23px;
        width: 56%;
        height: auto;
    }
    .prom{
        
            margin-left: 22%;
            margin-top: 23px;
            width: 56%;
        
    }
 }
 @media screen and (max-width:576px){
    
     #r1{
        
        width: 47% !important;
     }
     #r2{
        
        width: 47% !important;
        margin-top: 1px;
     }
     .box {
        margin-left: 23%;
        margin-top: 13px;
    }
    .newphoto>img {
        margin-left: 4%;
        width: 78%;
        height: auto;
        margin-top: 10px;
    }
    .newphoto {
        margin-left: 10%;
    }
    .gbox {
        height: auto;
        }
    .gboxphoto>img{
            height: auto;
    }
    .photo {
        width: 100%;
        height: 317px;
    }
    .riv {
        width: 100%;
        height: 287px;
    }
    .con {
        margin-left: 3%;
        margin-top: 23px;
        width: 95%;
        height: auto;
    }  
    .prom{
        margin-left: 3%;
        margin-top: 23px;
        width: 95%;
        height: auto;
    }
    .cheading{
        text-align: start;
        font-size: 25px;
        margin-top: 10px;
        margin-left: 10px;
    }
    .gheading{
        text-align: start;
        font-size: 25px;
        margin-top: 10px;
        margin-left: 10px;
    }
    .vid {
        width: 100%;
        height: 381px;
    }
    .ts1{
        height: 300px;
    }
    .ts1>img{
        height: 300px;
    }
 }
 @media screen and (max-width:410px){
   
     .gboxphoto {
       
       height:auto;
    }
    #cpic{
        height:250px;
    }
    .vid {
        width: 100%;
        height: 381px;
    }
    .vid>video {
        height:250px;
    }
    
    #r1 {
        width: 32% !important;
    }
    #r2{
        margin-top: 1px;
        width: 47% !important;
     }
     .scontainer{
         margin-top: 1px;
     }
    .box {
        margin-left: 23%;
        height: 112px;
        margin-top: 13px;
    }
    .boxphoto {
        width: 100%;
        margin-left: 7px;
    }
    .boxphoto>img {
        height: 106px;
        width: 100%;
    }



 
     .box {
        margin-left: 23%;
        margin-top: 13px;
    }
    .newphoto>img {
        margin-left: 4%;
        width: 78%;
        height: auto;
        margin-top: 10px;
    }
    .newphoto {
        margin-left: 10%;
    }
    .gbox {
        height: auto;
        }
    .gboxphoto>img{
            height: auto;
    }
    .photo {
        width: 100%;
        height: 317px;
    }
    .riv {
        width: 100%;
        height: 287px;
    }
    .con {
        margin-left: 3%;
        margin-top: 23px;
        width: 95%;
        height: auto;
    }  
    .prom{
        margin-left: 3%;
        margin-top: 23px;
        width: 95%;
        height: auto;
    }
    .cheading{
        text-align: start;
        font-size: 25px;
        margin-top: 10px;
        margin-left: 10px;
    }
    .gheading{
        text-align: start;
        font-size: 25px;
        margin-top: 10px;
        margin-left: 10px;
    }
   
    .ts1{
        height: 300px;
    }
    .ts1>img{
        height: 300px;
    }
 }